[Unit]
Description= Hypersign Identity Network
Requires=network-online.target
After=network-online.target

[Service]
User=ubuntu
Restart=on-failure
RestartSec=3
LimitNOFILE=65535
ExecStart=hid-noded start

[Install]
WantedBy=multi-user.target
