[Unit]
Description= Jagrat Network node
Requires=network-online.target
After=network-online.target

[Service]
User=ubuntu
Restart=on-failure
RestartSec=3
MemoryDenyWriteExecute=yes
LimitNOFILE=65535
ExecStart=vid-noded start

[Install]
WantedBy=multi-user.target
